{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>

  <form>
    <div class="form-group">
    <label for="gameType">Draw Type</label>
    <input type="text" class="form-control" id="gameType" placeholder="Game Type" required>
  </div>
   <div class="form-group">
    <label for="drawDate">Draw Date</label>
    <input type="date" class="form-control" id="drawDate" placeholder="Draw Date" required>
  </div>

    <div class="form-group">
      <label for="cashAmount">Amount</label>
      <div class="input-group">
        <div class="input-group-addon">$</div>
        <input type="number" class="form-control" id="cashAmount" placeholder="Amount" required>
      </div>
    </div>
    <button type="submit" class="btn btn-primary col-xs-12" id="submitDrawAmount">Submit Draw Amount</button>
  </form>
  <br><br><br>


  {% for draw in draws %}
  <div class = "col-xs-4 drawInfo">
    <h3>Game : {{draw.gameType}}</h3>
    <h4>Date : {{draw.date}}</h4>
    <p>Received : ${{draw.totalRecieved}}</p>
    <p>Cash Kept : ${{draw.cashKept}}</p>
    <p>Total for Stocks : ${{draw.stocks}}</p>
    <p>Total for Bonds : ${{draw.bonds}}</p>
    <p>Daily From Bonds : ${{draw.bondsDailyReceived}}</p>
     <p>Monthly From Bonds : ${{draw.bondsMonthlyReceived}}</p>
  </div>
  {% endfor %}

  </div>

{% endblock %}
